.context-menu-backdrop {
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,.5);
    z-index: 200;
    opacity: 0;
}

.context-menu-backdrop.visible {
    opacity: 1;
    pointer-events: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}