body {
    background-color: rgb(40, 39, 44);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Manrope";
    /* font-family: "Josefin Sans"; */
    /* letter-spacing: 0.1px; */
    font-size: small;

    color: var(--secondary-muted-text);
    width: 100%;
}

/* >>> APP <<< */
.app {
    height: 100dvh;
    width: 100%;
    max-width: 450px;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* >>> SCREEN <<< */
.screen {
    flex: 1;
    min-height: 0;
}

.screen > :not(.active) {
    display: none;
}

.screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* >>> Text <<< */
h1 {
    text-align: center;
    margin: 0%;
    font-size: larger;
    color: var(--primary-text);
}

h2 {
    /* color: var(--text-titles); */
}

h3 {
    color: var(--primary-text);
}

.text-area {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    height: 100%;
}

.text-area textarea {
    flex: 1;
    color: var(--accent-primary);
    font-weight: 600;

    padding: 4px;
    background: none;
    border: none;

    field-sizing: content;
}

.text-area i {
    margin-top: 2.3px;
    margin-left: 4px;
    font-size: 16px;
    color: var(--secondary-muted-text);
    flex-shrink: 0;
    position: absolute;
}

.text-area textarea::placeholder {
    color: var(--secondary-muted-text);
    padding-left: 16px;
}

.text-area textarea:focus {
    outline: none;
}

.text-area:has(textarea:not(:placeholder-shown)) i {
    opacity: 0;
}

.text-block {
    white-space: pre-wrap;      /* Preserve line breaks */
    word-break: break-word;     /* Prevent long words/URLs overflowing */
    line-height: 1.5;
}

.reflections-text {
    text-align: left;
    margin: 0%;
    color: var(--accent-primary);
    
    font-family: "Josefin Sans";
    font-size: 16px;
    line-height: 17px;
    word-spacing: -2px;

    border-left: 2px var(--accent-primary) solid;
    padding-left: 10px;
}


.metric-grid-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

/* .metric-grid-3 > * {
    width: 80px;
    height: 90px;
    
} */

.metric-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.metric-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.metric-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 8px;
    padding: 12px;
    text-align: center;

    background-color: var(--card-bg-color);
    box-shadow: var(--card-shadow);
}

.metric-label-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.metric-label-text {
    font-size: small;
    color: var(--secondary-muted-text);
}

.metric-value {
    font-size: large;
    color: var(--accent-primary);
    font-weight: 700;
}

.metric-time-span {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.metric-unit {
    font-size: small;
    color: var(--secondary-muted-text);
}

.metric-card i {
    font-size: 28px;
    color: var(--secondary-icon)
}

.metric-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border);
}

.metric-row:last-child {
    border-bottom: none;
}

.header .date-row {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

/* >>> HEADER <<< */
.header {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 1;
    top: 0;
    height: var(--hero-area-visible-height);
    z-index: 100;
}

.action-buttons-row {
    display: flex;
    flex-direction: row;
}

/* >>> DATE <<< */
.date-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.date-row-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.date-row h1 {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    color: var(--primary-text-light);

    font-family: "Cormorant Garamond", serif;
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 0.05em;

    text-shadow: var(--text-shadow);
}

.date-row h2 {
    font-size: small;
    color: var(--primary-text-light-muted);
    text-shadow: var(--text-shadow);
    letter-spacing: .05em;
    font-weight: 500;
    word-spacing: .2em;
    font-family: initial;
    margin: 0;
}

.icon-button {
    width: 40px;
    height: 40px;

    background: var(--accent-secondary);
    color: var(--elevated-card);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;

    box-shadow: var(--text-shadow);
}

.icon-button svg {
    width: 32px;
    height: 32px;
}

.icon-button:disabled {
    opacity: 0;
    cursor: default;
}

.solid-circle {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  
}

.hero {
    position: absolute;
    width: 100%;
    height: var(--hero-area-total-height);
    
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    );
}

.hero img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    filter: contrast(70%);
    filter: brightness(70%);
}

.hero-spacer {
    height: var(--hero-area-visible-height);
    flex-shrink: 0;
}

.content {
    /* display: flex; */
    flex-direction: column;
    background: none;
    will-change: transform, opacity;
    overflow-y: auto;
}

.metric-cards-section {
    /* display: flex; */
    flex-direction: column;
}

.right-group {
    margin-left: auto;
}

.left-group {
    margin-right: auto;
}

/* Current page leaves */

.slide-out-left {
    animation: slideOutLeft 1000ms ease forwards;
}

.slide-out-right {
    animation: slideOutRight 1000ms ease forwards;
}

/* New page enters */

.slide-in-left {
    animation: slideInLeft 500ms ease forwards;
}

.slide-in-right {
    animation: slideInRight 500ms ease forwards;
}

.appear {
    animation: appear 500ms;
}

.disappear {
    animation: disappear 500ms;
}



/* Keyframes */
@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-40px);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(40px);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(40px);
        opacity: 1;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-40px);
        opacity: 1;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/* >>> SPLASH <<< */

.splash {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    pointer-events: none;
}

/* Background */

.splash-bg {
    position: absolute;
    inset: 0;
    background: var(--surface);
}

.splash-bg.intro {
    animation: bg 1500ms;
    animation-fill-mode: forwards;
}

@keyframes bg {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Logo */
.app-logo {
    color: var(--accent-secondary-light);
    animation-fill-mode: forwards;
}

.app-logo.intro {
    animation: logo 1500ms;
}

.app-logo svg {
    width: 140px;
    height: 140px;
    display: block;
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    80% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
    }
}